*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(0, 1%, 32%);
}
    
.sub{
    width: 900px;
    max-width: 80%;
    overflow: auto;
    height: 70vh;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
}

.header{
    padding: .5em;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    background-color: rgb(145, 155, 119);
    
}
.closebtn{
    border: none;
    font-size: 1.5rem;
    background-color:rgb(145, 155, 119);
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    cursor: pointer;
}
.new{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;

}
.form input{
    border: 1px solid black;
    outline: none;
    font-size: 1em;
    padding: .9em;
    padding-right: 4em;
    border-radius: 5px;
}
.new .label{
    flex-direction: column;
    font-size: 1.5em;
}
.input-default{
    margin-top: .9rem;
    padding: 2rem;
    border-radius: 2px;
    box-shadow: 0 0 5px 0;
}
.form.input-default:hover{
    box-shadow: 0 0 10px rgb(143, 180, 196);
}
.form .checkbox{
    font-size: 1.2em;
}
.form span{
    font-size: 1.5em;
}
.btn{
    background-color: hsl(0, 0%, 90%);
    border: 1px solid hsl(0, 0%, 70%);
    outline: none;
    cursor: pointer;
    padding: .5em 1em;
    border-radius: .5em;
    background-color: hsl(231, 85%, 62%);
}
.btn:hover{
    box-shadow: 0 0 5px 0;
}
.btn-danger:hover{
    box-shadow: 0 0 5px 0;
}
.btn-danger{
    background-color: hsl(0, 0%, 90%);
    border: 1px solid hsl(0, 0%, 70%);
    outline: none;
    cursor: pointer;
    padding: .5em 2em;
    border-radius: .5em;
    margin-bottom: 2em;
    background-color: hsl(0, 88%, 53%);
}
.footer{
    margin-top: .9rem;
    padding-right: 2.5em;
}