.grid{
    display: grid;
    grid-template-columns: 1fr 150px;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
    "header header"
    "nav sidebar"
    "content sidebar"
    "footer footer";  
}
.header{
    grid-area: header;
    background-color: black;
    font-size:1.5rem;
    color: white ;
    text-align: center;
    padding: 1rem;
}
.nav{
    grid-area: nav;
    border: 1px solid white;
    background-color: black;
    color: white;
}
.nav-list{
    display: flex;
    list-style-type: none; 
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-list li{
    padding: .5rem;

}
.sidebar{
    grid-area: sidebar;
    background-color: black;
    color: white;
    padding: .5rem;
    border-left: 1px solid white;
    border-top: 1px solid white;
}
.content{
    grid-area: content;
}
.content h2{
    font-size: 2rem;
    text-align: justify;
}
.footer{
    grid-area: footer;
    background-color: black;
    color: white;
    padding: .5rem;
    border: 1px solid white;
    text-align: center;    
}